.accordion-button {
    font-size: 22px;
    box-shadow: none;
    border: none;

    &[aria-expanded="true"] {
        background-color: #37283E;
        color: $altColor;
        box-shadow: none;
        border: none;
    }

    &[aria-expanded="false"] {
        box-shadow: none;
        border: none;
    }
}


.accordion-button::after, .accordion-button-collapsed::after, .accordion-button:not(.collapsed)::after {
    background-image: none;
}

.accordion-button, .accordion-body {
    background-color: #0E0E16;
    color: white;
}

.accordion-item {
    border: none;
}