html {
    font-size: large;
    height: 100vh;
}

body {
    background-color: #0E0E16;
    color: white;
    font-family: 'Roboto Slab', serif;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster', cursive;
    color: #A183AF;
}

p {
    text-indent: 70px;
    line-height: 2;
}

.titleimg {
    position: relative;
    top: 0;
    left: 0;
}

.img1 {
    position: relative;
    top: 0;
    left: 0;
}

.img2 {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.titletxt {
    position: absolute;
    bottom: 20px;
    left: 270px;
}

#nav {
    margin-bottom: 100px;
    background-image: url(../images/navbarimg.jpg);
}

#navbarNavAltMarkup>.navbar-nav a {
    color: white;
}

#navbarNavAltMarkup>.navbar-nav a:hover {
    background-color: #C9B8D2;
    color: #040508;
}

#title {
    padding-left: 15px;
}

#title:hover {
    color: #619887; 
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #619887;
}

.accordion-button {
    font-size: 22px;
    box-shadow: none;
    border: none;
}

.accordion-button[aria-expanded="true"] {
    background-color: #37283E;
    color: #A183AF;
    box-shadow: none;
    border: none;
}

.accordion-button[aria-expanded="false"] {
    box-shadow: none;
    border: none;
}

.accordion-button::after, .accordion-button-collapsed::after, .accordion-button:not(.collapsed)::after {
    background-image: none;
}

.accordion-button, .accordion-body {
    background-color: #0E0E16;
    color: white;
}

.accordion-item {
    border: none;
}

.caption p{
    text-align: center;
    text-indent: 0;
    color: #A183AF;
}

footer {
    position: relative;
    bottom: 0;
}