html {
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 2em;
}

.addCourse {
    background-color: #95C0AD;
    width: 400px;
    height: 210px;
    margin: 2em;
    padding: 1em;
    border-radius: 10px;
    font-weight: bold;
    color: #634879;
}

input {
    display: block;
    width: 390px;
    height: 2em;
    border: 0;
}

button {
    border: 0;
    padding: 0.5em;
    border-radius: 2px;
    background-color: #634879;
    color: white;
    margin-left: 150px;
    margin-bottom: 0.5em;
    width: 100px;
}

button:hover {
    cursor: pointer;
}

#allCourses div {
    background-color: #406D59;
    color: white;
    width: fit-content;
    padding: 0.5em;
    margin: 0.5;
    margin-bottom: 1em;
}